.footer a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video 
{
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-family: Microsoft Yahei;
font-size:100%;
vertical-align:baseline;
}

.footer div{
display:block;
}

.footer input{
outline:none;
-webkit-appearance:textfield;
-webkit-rtl-ordering:logical;
-webkit-user-select:text;
cursor:auto;
font:normal normal normal 13.3333px/normal Arial;
text-rendering:auto;
letter-spacing:normal;
word-spacing:normal;
text-transform:none;
text-indent:0px;
text-shadow:none;
display:inline-block;
text-align:start;
-webkit-writing-mode:horizontal-tb;
}

.footer{
font-size:12px;
}

.footer .footerbottom{
width:100%;
}

.footer * {
box-sizing:border-box;
}

.footer .promise{
padding:20px 0 10px;
background:#000;
}

.footer .center-content {
width:1150px;
margin-left:auto;
margin-right:auto;
}

.footer .promise .left{
margin-right:60px;
line-height:30px;
font-size:12px;
font-weight:700;
}

.footer .left{
float:left;
}

.footer .promise .left:first-child  .iconfont{
font-size:27px;
}

.footer .promise .left .iconfont{
display:inline-block;
font-weight:400;
font-size:22px;
vertical-align:middle;
margin-right:5px;
}

.footer .rgbf{
color:#fff;
}

.footer .iconfont{
font-family:iconfont!important;
font-size:16px;
font-style:normal;
text-decoration:none;
-webkit-font-smoothing:antialiased;
-webkit-text-stroke-width:.2px;
}

.footer .red{
color:#e01;
}

.footer .rgb9{
color:#999;
}

.footer .subscribe{
border:1px solid #262626;
width:240px;
}

.footer .subscribe input{
width:180px;
height:32px;
padding:0 10px;
line-height:32px;
border:none;
margin:0;
background:#000;
}

.footer .subscribe a{
display:block;
float:right;
margin-right:20px;
font-size:20px;
line-height:28px;
opacity:5;
}

.clearfix:after{
content:'';
display:table;
clear:both;
}

.footer .footer-help{
background:#000;
font-size:12px;
overflow:hidden;
}

.footer .footer-help>div{
padding:15px 0;
border-top:1px solid #262626;
}

.footer .footer-help ul{
width:110%;
}

.footer .footer-help li{
width:180px;
}

.footer .footer-help p{
line-height:24px;
}

.footer .footer-help p span{
color:#fff;
}

.footer .footer-help p a{
color:#666;
}

.footer .footer-link{
background: #000;
padding:10px 0 30px;
font-size:12px;
}

.footer .footer-link .about-us{
line-height:20px;
color:#666;
margin-left:10px;
}

.footer .footer-link .about-us a{
color:#666;
}

.footer .return-top{
position:fixed;
width:60px;
height:60px;
left:50%;
margin-left:595px;
text-align:center;
line-height:50px;
color:#fff;
background:#000;
opacity:5;
cursor:pointer;
z-index:4;
}
