@charset "utf-8";

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-family: Microsoft YaHei;
    font-size:100%;
    vertical-align:baseline;
}


@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}              

.header div{
display:block;
}

.header .header-topwrapper{
width:100%;
background-color:#f4f4f4;
min-width:1150px;
}

.header .header-top{
width:1150px;
height:32px;
line-height:32px;
margin:0 auto;
position:relative;
}

.header .float-left{
float:left;
}

.header .leftpart{
position:relative;
padding-left:5px;
padding-right:5px;
}

.header .icon-hamburger{
background:url("../images/hamburger.png"),no-repeat;
width:13px;
height:11px;
}

.header [class^=icon-]{
display:inline-block;
vertical-align:middle;
background-repeat:no-repeat;
}

.header .headertext
{
color:#000;
font-size:12px;
}

.header .products-list{
position:absolute;
display:none;
width:80px;
left:0;
top:32px;
background-color:#f4f4f4;
    margin-left:-20px;
padding-top:0px;
padding-bottom:0px;
padding-left:20px;
z-index:18;
}

.header #dropcontrol{
	margin-left:-20px;
    width:70px;
    position:absolute;
    padding-right:10px;
    padding-bottom:100px;
}
.header .products-item{
height:12px;
line-height:12px;
margin-bottom:12px;
}

.header .products-item a{
color:#9196a0;
font-size:14px;
}



.header ul,.header menu,.header dir{
display:block;
list-style-type:disc;
-webkit-margin-before:1em;
-webkit-margin-after:1em;
-webkit-margin-start:0px;
-webkit-margin-end:0px;
-webkit-padding-start:40px;
}

.header  .products-item{
list-style:none;
}

.header .tag-list{
list-style:none;
margin-top:0;
}

.header .list-item{
height:14px;
line-height:14px;
margin-bottom:20px;
}

.header li{
display:list-item;
text-align:-webkit-match-parent;
}

.header a{
text-decoration:none;
color:#000;
}

.header .list-item a{
color:#9196a0;
font-size:14px;
}

.header .rightpart{
margin-right:-20px;
position:absolute;
right:0;
top:0;
}

.header #loginBox a,.header #loginBox span, .header .registbar{
color:#000;
font-size:12px;
}

.header .hi{
color:#8e8e8e;
font-size:12px;
}

.header .hi, .header .loginbar, .header .registbar{
display:inline-block;
float:left;
}

.header .registbar{
margin-left:7px;
}


.header .tag-list-wrapper{
margin-left:13px;
float:left;
}

.header .tag-list{
margin-left:13px;
height:34px;
}

.header .myyoho{
padding-right:10px;
position:relative;
}

.header .tag-item{
display:inline-block;
float:left;
line-height:32px;
box-sizing:border-box;
margin-left:-1px;
}

.header .myyoho .tag-separate{
margin-left:12px
}

.header .rightpart .tag-separate{
border-color:#dcdcdc;
}

.header .tag-item span{
display:inline-block;
}

.header .tag-separate{
margin-top:11px;
width:0;
height:14px;
display:inline-block;
float:left;
border-left:1px solid #dcdcdc;
}

.header .tag-item a{
color:#8e8e8e;
font-size:12px;
display:inline-block;
}

.header .icon-bottomarrow{
background:url("../images/bottomarrow.png"),no-repeat;
width:10px;
height:5px;
margin-top:-2px;
}

.header .myyoho-info{
position:absolute;
display:none;
top:32px;
left:-110px;
width:300px;
background-color:#f8f8f8;
z-index:17;
}

.header .myorder{
padding-right:10px;
}

.header .myorder .tag-separate{
margin-right:11px;
}

.header .icon-papers{
background:url("../images/papers.png"),no-repeat;
width:10px;
height:14px;
margin-top:2px;
}

.header .mycollect{
padding-right:11px;
}

.header .mycollect .tag-separate{
margin-right:11px;
}

.header .icon-heart{
background:url("../images/heart.png"),no-repeat;
width:12px;
height:11px;
margin-top:-2px;
}

.header .message{
padding-right:10px;
}

.header .message .tag-separate{
margin-right:11px;
}

.header .icon-mail{
background:url("../images/mail.png"),no-repeat;
width:16px;
height:10px;
margin-top:2px;
}


.top-second-nav .tnav-logocontainer{
    width:960px;
    margin:0 auto;
    display:block;
}

#tnav_logo{
    background:url("../images/logo.png");
    background-position:-15px -687px;
    height:60px;
    width:220px;
    margin:0 auto;
    position:relative;
    display:inherit;
    float:left;
	margin-left:-90px;
    margin-top:0px;
    margin-bottom:10px;
	padding-bottom:20px;
    clear:both;
}

#tnav_searcharea{
    float:right;
    margin-top:25px;
	margin-bottom:-40px;
	margin-right:-100px;
}

#tnav_searcharea .tnav-search{
    border:solid 1px #a99621;
    background-color:#fff;
    height:35px;
    width:380px;
    float:left;
    position:relative;
	margin-top:-5px;
}


.tnav-search input{
    width:300px;
    padding:0 0 0 10px;
    position:relative;
    height:35px;
    margin:0;
    border-radius:0;
    background-color:#fff;
    border:none;
    box-shadow:none;
    color:#333;
    float:left;
    font-size:12px;
    z-index:0;
}

.icon-small-search{
    left:350px;
    -webkit-transform:rotate(270deg);
    cursor:pointer;
    margin-top:10px;
    position:absolute;
    background-position: -34px -41px;
    height:17px;
    width:17px;
    background-image:url("../images/search.png");
    background-repeat:no-repeat;
    display:block;
    float:left;
}

.tnav-nav-tabcontainer{
	display:block;
	padding:10px 13px;
	border-top-width:1px;
	border-bottom-width:1px;
	border-style:solid;
	border-color:#a99621;
	height:42px;
	line-height:19px;
	font-weight:700;
	width:100%;
    flex-flow:row;
	-webkit-box-pack:justify;
    justify-content:space-between;
	max-width:1200px;
	min-width:320px;
	box-sizing:border-box;
    margin:0 auto;
    vertical-align:baseline;
}

.tnav-navigation{
    text-align: center;
    line-height:19px;
}

#tnav_navigation{
    clear:both;
	display:block;
	padding:10px 13px;

}

.tnav-nav-tabcontainer :first-of-type{
	margin-left:0;
	float:left;
	text-align:center;
	box-sizing:border-box;
	display:block;
	-webkit-font-smoothing:antialiased;
	box-sizing:inherit;
	}

.tnav-tab-sell :first-of-type{
	margin-right:0;
	float:right;
	text-align:center;
	box-sizing:border-box;
	display:block;
	-webkit-font-smoothing:antialiased;
	box-sizing:inherit;
	}
	
.tnav-onetab {
	float:left;
	margin-left:35px;
	text-align:center;
	}
	
.tnav-onetab a{
    color:#4a4a4a;
	outline:0;
	line-height:inherit;
	text-align:center;
    font-weight:bold;
    font-size:12px;
    text-decoration:none;
    cursor:pointer;
}

.tnav-onetab-sell a{
	color:#4a4a4a;
    font-weight:bold;
    font-size:12px;
    text-decoration:none;
    cursor:pointer;
}

.tnav-onetab-sell :last-of-type{
	float:right;
	margin-right:0;
}

.tnav-onetab-sell {
	float:right;
	margin-right:35px;
	}


.index-wrapper .div {
    display:block;
}
.index-wrapper{
    padding:0;
    width:100%;
    max-width:1200px;
    min-width:320px;
    margin:0 auto;
}

.index-wrapper embed,.index-wrapper img,.index-wrapper object {
    max-width:100%;
    height:auto;
}

.index-wrapper a{
    text-decoration:none;
    outline:0;
    line-height:inherit;
}

.index-wrapper * {
    box-sizing:border-box;
}

.index-wrapper .index-bigbanner{
    width:100%;
    margin-top:0;

}

.index-wrapper .index-bigbanner-main{
    position:relative;
    width:100%;
    padding-top:0%;
    margin-bottom:10px;
    -webkit-box-flex:1;
    flex:1 100%;
    background-size:contain;
    background-repeat:no-repeat;
}

.index-wrapper .index-itemfeed{
    max-height:490px;
    width:100%;
    margin:10px 0;
    position:relative;
}

.index-wrapper .index-feed-header{
    border-top-width:1px;
    border-style:solid;
    border-color:#a99261;
    margin-top:0;
    margin-bottom:20px;
    padding-top:20px;
    font-size:28px;
    letter-spacing:1px;
    font-weight:lighter;
    color:#000;
    text-align:center;
}

.index-wrapper .index-feed-header a{
    font-size:14px;
    color:#000;
    letter-spacing:normal;
    font-weight:400;
    text-decoration:none;
    outline:0;
    line-height:inherit;
    cursor:pointer;
}

.index-wrapper .index-itemfeed-rowitems{
    max-width:90%;
    margin:0 auto;
    height:345px;
}

.index-wrapper .index-item0{
    width:15.94828%;
    margin-left:0;
    position:relative;
    font-size:14px;
    float:left;
    min-height:1px;
    box-sizing:border-box;
}

.index-wrapper .index-item1, .index-item2, .index-item3, .index-item4, .index-item5{
    width:15.94828%;
    position:relative;
    font-size:14px;
    margin-left:.86207%;
    float:left;
    min-height:1px;
    box-sizing:border-box;
}

.index-wrapper .index-item-image-wrapper{
    position:relative;
}

.index-wrapper .index-itemfeed-rowitems img{
    border:1px solid #f7f7f7;
}

.index-wrapper .brand-name{
    font-size:12px;
    margin-top:5px;
    line-height:17px;
    font-weight:600;
    color:#333;
    margin-bottom:5px;
}

.index-wrapper .item-title{
    font-size:12px;
    line-height:13px;
    color:#4a4a4a;
    margin-bottom:11px;
}

.index-wrapper .size-name{
    color:#9b9b9b;
    line-height:10px;
    font-size:12px;
}

.index-wrapper .formatted-price{
    font-size:12px;
    font-weight:700;
    color:#333;
    display:inline;
}

.index-wrapper .formatted-origin{
    font-size:12px;
    display:inline;
    text-decoration:line-through;
    margin-left:5px;
    color:#9b9b9b;
}

.index-wrapper .index-itemfeed-arrow-left{
    display:none;
    opacity:1;
    cursor:default;
    border-color:#000;
    height:44px;
    width:20px;
    position:absolute;
    top:45%;
    transform:translateY(-50%);
    float:none;
}

.index-wrapper .index-itemfeed-arrow-left:before{
    height:17px;
    width:17px;
    border-width:4px 4px 0 0;
    vertical-align:middle;
    top:8px;
    left:2px;
    transform:rotate(-135deg);
    border-style:solid;
    content:'';
    display:inline-block;
    position:relative;
    box-sizing:inherit;
}

.index-wrapper .index-itemfeed-arrow-right{
    right:0;
    display:inline-block;
    cursor:pointer;
    color:#000;
    height:44px;
    width:20px;
    position:absolute;
    top:45%;
    transform:translateY(-50%);
    float:none;
}

.index-wrapper .index-itemfeed-arrow-right:before{
    height:17px;
    width:17px;
    border-width:4px 4px 0 0;
    vertical-align:middle;
    top:8px;
    left:0;
    transform:rotate(45deg);
    border-style:solid;
    content:'';
    display:inline-block;
    position:relative;
    box-sizing:inherit;
}

.index-wrapper .index-itemfeed-circles{
    text-align:center;
    padding-bottom:10px;
}

.index-wrapper .circle-selected{
    cursor:default;
    background-color:#fff;
    height:8px;
    width:8px;
    display:inline-block;
    border:1px solid #a99261;
    margin:0 3px;
    vertical-align:bottom;
    border-radius:50%;
}

.index-wrapper .circle{
    height:8px;
    width:8px;
    display:inline-block;
    border:1px solid #a99261;
    margin:0 3px;
    vertical-align:bottom;
    border-radius:50%;
    cursor:pointer;
    background-color:#a99261;
}

.index-wrapper .index-secondary-navigation{
    border-top:solid 1px #a99261;
    padding-top:10px;
    width:100%;
    margin-top:0;
}

.index-wrapper .index-secnav-imagewrapper{
    margin-left:0;
    width:49.5%;
    position:relative;
    float:left;
    padding-top:28.10026385%;
    margin-bottom:5px;
    background-size:contain;
    background-repeat:no-repeat;
}

.index-wrapper .index-secnav-content{
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    z-index:1;
    cursor:pointer;
    display:flex;
    flex-flow:row wrap;
    -webkit-box-pack: center;
    justify-content:center;
    -webkit-box-align:center;
}

.index-wrapper .index-secnav-textlink{
    text-align:center;
    margin-top:210px;
    -webkit-box-flex:1;
	-moz-box-flex:1;
    flex:1 100%;
}

.index-wrapper .index-secnav-textlink a{
    font-size:14px;
    font-weight:700;
    line-height:15px;
    color:#000;
    text-decoration:none;
    outline:0;
}

.index-wrapper .index-smallbanner{
    min-height:102px;
    width:100%;
    margin-top:10px;
    display:flex;
    flex-flow:row;
    -webkit-box-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    align-items:center;
    background-color:#8fd0b3;
}

.index-wrapper .index-smallbanner-brand{
    display:flex;
    justify-content:space-around;
    -webkit-box-flex:1;
    flex:1 1 auto;
    padding:0 20px;
}

.index-wrapper .index-follow-us{
    text-align:center;
    height:78px;
    display:flex;
    -webkit-box-align:center;
    align-items:center;
    -webkit-box-pack:center;
    justify-content:center;
}

.index-wrapper .index-follow-space{
    width:275px;
    display:flex;
    -webkit-box-pack:justify;
    justify-content:space-between;
}

.index-wrapper .index-follow-space span{
    font-size:13px;
    align-self:center;
    color:#000;
}

.index-wrapper .follow-twitter{
    background-image: url("../images/index/icons_social_revised.png");
    background-size:77px 76px;
    background-position:-39px 0;
    width:38px;
    height:38px;
}

.index-wrapper .follow-insta{
    background-image: url("../images/index/icons_social_revised.png");
    background-size:77px 76px;
    background-position:-38px -38px;
    width:38px;
    height:38px;
}

.index-wrapper .follow-facebook{
    background-image: url("../images/index/icons_social_revised.png");
    background-size:77px 76px;
    background-position:0 0;
    width:39px;
    height:38px;
}

.index-wrapper .follow-pinterest{
    background-image: url("../images/index/icons_social_revised.png");
    background-size:77px 76px;
    background-position:0 -38px;
    width:38px;
    height:38px;
}

.itm-wrap .row .row{
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.itm-wrap .row{
    width:100%;
    max-width:1200px;
    min-width:300px;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    padding-left:10px;
    padding-right:10px;
    position:relative;
    content:"";
    display:table;
    box-sizing:inherit;
}



.itm-wrap div {
    display: block;
}

.itm-wrap body {
    -webkit-font-smoothing: antialiased;
}

.itm-wrap * {
    box-sizing:border-box;
}

.itm-wrap a,.itm-wrap body,.itm-wrap h1 a,.itm-wrap h2 a,.itm-wrap h3 a,.itm-wrap h4 a,.itm-wrap h5 a,.itm-wrap h6 a{
    color:#4a4a4a;
}

.itm-detailtext {
    color:#4a4a4a;
}

.itm-wrap embed,img,object{
    max-width:100%;
    height:auto;
}


.itm-wrap h1,h2,h3,h4,h5,h6,li{
    padding-bottom:.364em;
}

.itm-wrap .itm-returnlist{
    cursor: pointer;
    display:inline-block;
    font-size:12px;
    color:#9b9b9b;
    text-decoration: underline;
}

.itm-wrap .itm-column-left{
    background: #fff;
    position:relative;
    padding:10px 10px 110px 10px;
    -webkit-user-select:none;
    width: 49.56897%;
    margin-left: 0;
    float: left;
    min-height: 1px;
}

.itm-wrap  .itm-thumbnails{
    width:auto;
    position:absolute;
    float:left;
    left:10px;
    bottom:0;
}

.itm-wrap  .itm-thumbnail-selected{
    border-top-color:#9b9b9b;
    border-top-style:solid;
    border-top-width:1px;
    border-right-color:#9b9b9b;
    border-right-style:solid;
    border-right-width:1px;
    border-bottom-color:#9b9b9b;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color:#9b9b9b;
    border-left-style:solid;
    border-left-width:1px;
    cursor:pointer;
    margin-right:10px;
    display:inline-block;
}

.itm-wrap .itm-thumbnail{
    cursor:pointer;
    border:1px solid #ebebeb;
    margin-right:10px;
    display:inline-block;
}

@media only screen and (min-device-width: 1025px) and (min-width: 951px) {.itm-wrap .itm-thumbnails{
    width:85px;
    bottom:auto;
}}

@media only screen and (min-device-width: 1025px) and (min-width: 951px) {.itm-wrap .itm-thumbnail-selected{
    margin-right:0;
}}

@media only screen and (min-device-width: 1025px) and (min-width: 951px) {.itm-wrap .itm-thumbnail{
    margin-right:0;
}}




.itm-wrap .itm-displayphoto{
    border:1px solid #f7f7f7;
    position:relative;
}


@media only screen and (min-device-width: 1025px) and (min-width: 951px) {.itm-wrap .itm-displayphoto{
    margin-left:85px;
}}

.itm-wrap #shop-product-details.row.itm-column-left.img{
    display:block;
}

.itm-wrap .enlargeicon{
    position:absolute;;
    bottom:10px;
    right:10px;
    z-index:1;
    height:24px;
    width:24px;
    background:url(../images/zoom-icon.svg) center no-repeat;
    display:block;
    cursor:pointer;
    text-decoration: none;
    outline:0;
    line-height:inherit;
}

.itm-wrap #shop-product-details.row.itm-column-left.itm-zoom{
    cursor:crosshair;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    opacity: 0;
    transition:opacity .5s ease-in-out;
}

.itm-wrap .itm-column-right{
    padding:0 10px 10px;
    width:49.56897%;
    margin-left:.86207%;
    float:left;
    min-height:1px;
    box-sizing:border-box;
}

.itm-wrap .itm-primary{
    width:320px;
    padding:10px;
    text-align: center;
    font-size:20px;
    margin:0 auto;
}
.itm-wrap .itm-title{
    color: #333;
    font-weight:600;
    font-size:inherit;
    line-height:inherit;
    margin-top:10px;
    padding:0;
}

.itm-wrap .itm-price{
    font-weight:700;
    color:#000;
    margin-top:15px;
}

.itm-wrap .itm-compare-price{
    font-size:16px;
    color: #9b9b9b;
    padding: 5px 0;
}

.itm-wrap .itm-savingper{
    font-size:14px;
    color:#4ae1bb;
}

.itm-wrap .itm-divider1{
    width:200px;
    margin:20px auto;
    background-color: #f7f7f7;
    height:5px;
}

.itm-wrap a {
    text-decoration: none;
    outline:0;
    line-height:inherit;
}

.itm-wrap .itm-brand-name{
    font-size:16px;
    color:#9b9b9b;
    margin-top:15px;
    padding-bottom:5px;
}

.itm-wrap .itm-size{
    font-size:16px;
    color:#4a4a4a;
}

.itm-wrap .itm-addtocart{
    color:#fff;
    background-color:#4ae1bb;
    border:2px solid #4ae1bb;
    font-weight:700;
    font-size:16px;
    cursor:pointer;
    text-transform: uppercase;
    width:240px;
    padding:10px;
    margin-top:20px;
    margin-bottom:35px;
    display:inline-block;
    height:50px;
    line-height:29px;
}

.itm-wrap .itm-divider2{
    margin:8px 0;
    background-color:#f7f7f7;
    height:5px;
}

.itm-wrap dl,.itm-wrap dt,.itm-wrap strong{
    font-weight:700;
}


.itm-wrap em,.itm-wrap small,.itm-wrap strong{
    line-height:inherit;
}


.itm-wrap .itm-detailtext .itm-return{
    margin-top:15px;
}

.itm-wrap .itm-detailtext .itm-delivery{
    margin-top:15px;
}

.itm-wrap .itm-detailtext div{
    margin: 8px 0;
    font-size:14px;
}

.itm-wrap .itm-divider3{
    height: 5px;
    background-color: #f7f7f7;
}

.itm-wrap .itm-detailtext .itm-description{
    margin-top:25px;
}

.itm-wrap .itm-detailtext ul{
    list-style:disc;
    margin:5px 0 0 16px;
}

.itm-wrap .itm-detailtext ul li{
    line-height:18px;
}

.itm-wrap .itm-alternatives{
    color:#58b2fa;
}

.itm-wrap .itm-detailtext .itm-sellercloset{
    margin-top:30px;
}

/* reset 公共重置样式 */
.prd-wrap *{box-sizing:border-box}
.prd-wrap html { -webkit-text-size-adjust: none; }
.prd-wrap html,.prd-wrap body { height: 100%; }
.prd-wrap body {font-family: "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB","黑体",sans-serif; }
.prd-wrap html,.prd-wrap body,.prd-wrap h1,.prd-wrap h2,.prd-wrap h3,.prd-wrap h4,.prd-wrap h5,.prd-wrap h6,.prd-wrap div,.prd-wrap dl,.prd-wrap dt,.prd-wrap dd,.prd-wrap ul,.prd-wrap ol,.prd-wrap li,.prd-wrap p,.prd-wrap blockquote,.prd-wrap pre,.prd-wrap hr,.prd-wrap figure,.prd-wrap table,.prd-wrap caption,.prd-wrap th,.prd-wrap td,.prd-wrap form,.prd-wrap fieldset,.prd-wrap legend,.prd-wrap input,.prd-wrap button,.prd-wrap textarea,.prd-wrap menu{margin:0;padding:0}
.prd-wrap h1,.prd-wrap h2,.prd-wrap h3,.prd-wrap h4,.prd-wrap h5 { font-weight: 400; }
.prd-wrap li{list-style:none}
.prd-wrap embed,.prd-wrap input,.prd-wrap select,.prd-wrap textarea,.prd-wrap button { font: 12px/1.5 arial, 'Microsoft Yahei', sans-serif; vertical-align: middle; }
.prd-wrap textarea { resize: none; }
.prd-wrap address { display: inline; font-style: normal; }
.prd-wrap em { font-style: normal; }
.prd-wrap .clear { clear: both; }
.prd-wrap .clearfix { *zoom:1;}
.prd-wrap .clearfix:after { clear: both; content: ""; display: block; }
.prd-wrap p { font-size: 14px; }
.prd-wrap a { text-decoration: none; color:#4A4A4A}
.prd-wrap a:hover{color:#000;}
.prd-wrap img{ border: none; }
.prd-wrap .center{text-align:center;}


/* 产品区域 */
.prd-wrap .prd-wrap{

}
.prd-wrap .prd_banner{

}
/* 面包屑导航栏区域 */
.prd-wrap .prd_nav {
    padding-left:10px;
	margin-left:20px;
}
.prd-wrap .prd_nav em {
    color:#9B9B9B;
}
.prd-wrap .prd_nav  a{
    color:#4A4A4A;
}
.prd-wrap .prd_nav  a:hover{
    text-decoration:underline;
}
/* 面包屑导航栏区域 End */


/* 商品条件过滤条 */
.prd-wrap .prd_filterbar{

}
.prd-wrap .filterul {
    position:relative;
    border-bottom: 1px solid #a99261;
    position: relative;
    height: 60px;
    padding: 0 10px;
	width:1200px;
	margin-left:20px;
}
.prd-wrap .filterul > li {float:left;width:60px;height:60px;line-height:60px;	cursor:pointer;}
.prd-wrap .filterul .condition-cat{width:100px;}
.prd-wrap .filterul .reset{
    color:#F5A623;
}
.prd-wrap .filterul .reset:hover{
    text-decoration:underline;
}
.prd-wrap .condition-cat:hover .condition{
    display:block;
}

.prd-wrap .prd_filterbar .subject{
    color:#4A4A4A;
    font-size:18px;
    width:180px;
}
.prd-wrap .condition-cat .condition {
    display:none;
    border:1px solid;
    border-top:none;
    width: 400px;
    height: 180px;
    word-wrap:break-word;
    word-break: break-all;
    background:#fff;
    padding:10px;
}

.prd-wrap .condition .title{
    display:block;
    color:#9B9B9B;
    height:30px;
    line-height:30px;
    text-align:left;
}
.prd-wrap .condition li {
    margin: 5px;
    margin-left:0px;
    border: 1px solid rgb(235, 235, 235);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    float: left;
    line-height: 7px;
}
.prd-wrap .condition a {
    color: rgb(0, 0, 0);
    padding: 10px;
    display: block;
}
.prd-wrap .condition li:hover{
    border-color:#ccc;
}
/* 商品条件过滤条 End*/


.prd-wrap .prd_content{width:1200px; margin-left:20px;}
/* 产品页左边分类树栏目 */
.prd-wrap .prd_leftcat {
    width: 180px;
    float: left;
    min-height: 1px;
    padding-left:10px;
}
.prd-wrap .prd_leftcat .title{
    font-weight:bold;
    display:block;
    margin-bottom:20px;
}
.prd-wrap .prd_leftcat .newst-prd {
    display:block;
    margin-bottom:15px;
}
.prd-wrap .prd_leftcat .tagtitle{
    margin-top:30px;
    margin-bottom:20px;
    display:block;
    color:#9B9B9B;
}
.prd-wrap .prd_leftcat a:hover{
    text-decoration:underline;
}
.prd-wrap .prd_leftcat li {
    margin-bottom:10px;
}
/* 产品页左边分类树栏目 End */


/* 产品列表 */
.prd-wrap .prd_list{width:990px;}
.prd-wrap .prd_list li {
    cursor: pointer;
    border: 1px solid #FFF;
    float: left;
    margin-bottom: 20px;
    margin-right: 1%;
}

.prd-wrap .prd_list li:hover .prd_img{
    border-color:#D8D8D8;
}
.prd-wrap .prd_list li:hover .add-to-cart{
    visibility:visible;
}
.prd-wrap .prd_item {
    width: 24%;
}
.prd-wrap .prd_link {
    display:block;
}
.prd-wrap .prd_img {
    border: 1px solid #F7F7F7;
    width: 100%;
}
.prd-wrap .prd_item span {
    display: block;
    line-height: 21px;
    padding: 0 10px;
}
.prd-wrap .brand-name {
    font-weight: bold;
    font-size: 14px;
}
.prd-wrap .item-title {
    color: rgb(74, 74, 74);
}
.prd-wrap .size-name {
    color: rgb(155, 155, 155);
}
.prd-wrap .item-price .price {
    font-weight: bold;
}
.prd-wrap .item-price span {
    display: inline;
    padding: 0 5px;
}
.prd-wrap .item-price .original-price{
    text-decoration:line-through;
}
.prd-wrap .item-price .add-to-cart {
    float: right;
    color: rgb(255, 255, 255);
    background: #CE9C89;
    padding: 5px;
    border-radius: 3px;
    visibility:hidden;
    margin-right:10px;
}
.prd-wrap .item-price .add-to-cart:hover{
    background:#D44914;
}
/* 产品列表 End */



.footer div{
    display:block;
}

.footer input{
    outline:none;
    -webkit-appearance:textfield;
    -webkit-rtl-ordering:logical;
    -webkit-user-select:text;
    cursor:auto;
    font:normal normal normal 13.3333px/normal Arial;
    text-rendering:auto;
    letter-spacing:normal;
    word-spacing:normal;
    text-transform:none;
    text-indent:0px;
    text-shadow:none;
    display:inline-block;
    text-align:start;
    -webkit-writing-mode:horizontal-tb;
}

.footer{
    font-size:12px;
}

.footer .footerbottom{
    width:100%;
}

.footer * {
    box-sizing:border-box;
}

.footer .promise{
    padding:20px 0 10px;
    background:#fff;
	clear:both;
}

.footer .center-content {
    width:1200px;
    margin-left:auto;
    margin-right:auto;
}

.footer .promise .left,.right{
    margin-left:60px;
    margin-right:60px;
    line-height:30px;
    font-size:12px;
    font-weight:700;
}

.footer .left{
    float:left;
}

.footer .right{
    float:right;
}


.footer .promise .left:first-child  .iconfont{
    font-size:27px;
}

.footer .promise .left .iconfont,.footer .promise .right .iconfont{
    display:inline-block;
    font-weight:400;
    font-size:22px;
    vertical-align:middle;
    margin-right:5px;
}

.footer .rgbf{
    color:#000;
}

.footer .iconfont{
    font-family:iconfont!important;
    font-size:16px;
    font-style:normal;
    text-decoration:none;
    -webkit-font-smoothing:antialiased;
    -webkit-text-stroke-width:.2px;
}

.footer .red{
    color:#e01;
}

.footer .rgb9{
    color:#999;
}

.footer .subscribe{
    border:1px solid #262626;
    width:240px;
}

.footer .subscribe input{
    width:180px;
    height:32px;
    padding:0 10px;
    line-height:32px;
    border:none;
    margin:0;
    background:#fff;
}

.footer .subscribe a{
    display:block;
    float:right;
    margin-right:20px;
    font-size:20px;
    line-height:28px;
    opacity:5;
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

.footer .footer-help{
    background:#fff;
    font-size:14px;
    overflow:hidden;
}

.footer .footer-help a{
    background:#fff;
    font-size:12px;
    overflow:hidden;
}

.footer .footer-help>div{
    padding:15px 0;
    border-top:1px solid #a99261;
}

.footer .footer-link>div{
    padding:15px 0;
    border-top:1px solid #a99261;
}

.footer .promise>div{
    padding:15px 0;
    border-top:1px solid #a99261;
}

.footer .footer-help ul{
    width:110%;
}

.footer .footer-help li{
    margin-left:40px;
    width:200px;
}

.footer .footer-help p{
    line-height:24px;
}

.footer .footer-help p span{
    color:#000;
    font-weight:bold;
}

.footer .footer-help p a{
    color:#666;
}

.footer .footer-link{

    background: #fff;
    padding:10px 0 30px;
    font-size:12px;
}

.footer .footer-link .about-us{
    line-height:20px;
    color:#666;
    margin-left:200px;
    text-align: center;
}

.footer .footer-link .about-us a{
    color:#666;
}

.footer .return-top{
    position:fixed;
    width:60px;
    height:60px;
    left:50%;
    margin-left:595px;
    text-align:center;
    line-height:50px;
    color:#fff;
    background:#000;
    opacity:5;
    cursor:pointer;
    z-index:4;
}

/*container*/
.container a{
    text-decoration: none;
    color:#F93A3A
}
.container span{
    color: gray;
    font-size: 14px;
}
.container li{
    height: 30px;
    font-size: 14px;
    margin-left: 15px;
}
.container P{
    margin-top: 5px;
}
.container h2{
    padding: 0;
    margin: 0;
    font-size: 30px;
}
.container{
    width: 100%;;
    float: left;
    font-family:Microsoft Yahei;
    margin: 0;
    padding: 0;
    height: auto;
}
.container dd{
    margin-left: 25px;
}
.container .login_div{
    float: right;
    width: 400px;
    height: 320px;
    background-color: white;
    margin: 30px 100px;
    border: 1px solid gainsboro;
    border-radius: 4px;
}
.container .login_div_1{
    float: left;
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid gainsboro;
    background-color: white;
}
.container .div1_text{
    font-size: 30px;
}
.container .login_div_2{
    float: left;
    width: 100%;
    height: 30px;
    text-align: center;
}
.container .login_div_row{
    float: left;
    width: 100%;
    height: 30px;
}
.container .login_div_3{
    float: left;
    width: 40px;
    height: 30px;
    margin-left: 125px;
}
.container .login_div_4{
    float: left;
    width: 40px;
    height: 30px;
}
.container .login_div_5{
    float: left;
    width: 40px;
    height: 30px;
}
.container .login_div_weibo {
    float: left;
    width: 40px;
    height: 30px;
}
.container .login_div_6{
    float: left;
    text-align: center;
    width: 100%;
    height: 20px;
    margin: 5px 0;
}
.container .login_div_7{
    float: left;
    width: 100%;
    height: 50px;
    text-align: center;
}
.container .login_textfiled{
    width: 250px;
    height: 35px;
    border: 1px solid gray;
}
.container .login_div_8{
    padding: 0;
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
}
.container #login_button{
    background-color: #F93A3A;
    color: white;
    font-size: 20px;
    border: hidden;
    width: 252px;
}
.container .login_div_9{
    width: 100%;
    height: 30px;
    float: left;
    margin-top: 5px;
}
.container .login_div_9left{
    padding: 0;
    float: left;
    margin-left: 80px;
    text-align: left;
}
.container .login_div_9right{
    padding: 0;
    float: right;
    margin-right: 80px;
    text-align: right;
}
/*注册*/
.container #regist_head{
    float: left;
    width:100px;
    height: 20px;
    margin-top: 20px;
    margin-left: 300px;
    padding: 0;
}
.container #regist_main{
    float: left;
    width:800px;
    height:450px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:1px solid gainsboro;
    background-color: white;

}
.container #regist_container{
    float: left;
    padding: 0;
    width: 1000px;
    height: 600px;
    margin: 20px 20%
}
.container #regist_main .regist_item{
    float: left;
    width: 100%;
    height: 40px;
    margin:5px auto;
}
.container .item_user_text{
    float: left;
    width: 150px;
    text-align: right;
    font-size: 14px;
    margin-top: 6px;
}
.container .textfield{
    float: left;
    width: 220px;
    height: 30px;
    margin-left: 20px;
    border: 1px solid gray;
}
.container .textfield2{
    float: left;
    width: 100px;
    margin-left: 20px;
    height: 30px;
    border: solid 1px gray;
}
.container .regist_radio{
    float: left;
    margin-top: 4px;
    margin-left: 20px;
}
.container .regist_button{
    float: left;
    width: 120px;
    height: 31px;
    border: hidden;
}.container .regist_item2{
     float:left;
     margin-left: 165px;
     width:300px;
     text-align: left;
 }
.container .submit_button{
    float: left;
    width: 220px;
    height: 50px;
    text-align: center;
    background-color: red;
    position: absolute;
    margin-top: 380px;
    margin-left: 170px;
}
.container .regist_submit {
    background-color: red;
    border: hidden;
    width: 220px;
    height: 50px;
    font-size: large;
    font-weight: 500;
    color: white;
}
/*找回密码*/
.container #fpw_div1{
    float: left;
    width: 1000px;
    height: 400px;
    margin: 20px 14%;
    border: hidden;
}
.container #fpw_div2{
    float: left;
    width: 140px;
    height: 40px;
    text-align: left;
    border-right: 1px solid gray;
}
.container #fpw_div3{
    width: 120px;
    float: left;
    height: 40px;
    text-align:left;
}
.container .fpw_text1{
    font-size: 24px;
    margin-left: 10px;
    margin-top: 5px;
    color:gray ;
}
.container #fpw_div4{
    float: left;
    border: 1px solid gainsboro;
    width: 800px;
    height: 300px;
    margin-top: 10px;
}
.container #fpw_div4_row{
    width: 100%;
    float: left;
    height:30px ;
    margin-top: 20px;
}
.container #fpw_div5{
    float: left;
    width: 40%;
    height: 30px;
    margin-left: 5%;
    border-bottom: 1px solid gainsboro;
    color: #F93A3A;
}
.container #fpw_div6{
    float: right;
    width: 40%;
    height: 30px;
    margin-right: 5%;
    border-bottom: solid 1px gainsboro;
    color: #F93A3A;
}
.container #fpw_div7 {
    float: left;
    width: 40%;
    height: 200px;
    margin-left: 5%;
}
.container #fpw_div8{
    float: right;
    width: 40%;
    height: 200px;
    margin-right: 5%;
}
.container #fpw_div_form1{
    float: left;
    width: 100%;
    height: 30px;
}
.container #fpw_div_form2{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.container #fpw_div_form3{
    float: left;
    width: 100%;
}
.container .fpw_textfiled{
    width: 120px;
    height: 28px;
    border: solid 1px gray;
}
.container .fpw_div_form4{
    float: left;
    width: 100%;
    margin-top: 10px;;
}
/*用户*/
.container #user_head_div{
    float: left;
    width: 100%;
    margin-left:50px;
    padding: 0;
}
.container #user_left_div{
    float: left;
    width: 200px;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container #user_right_div{
    float: left;
    width: 800px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.container #left_head{
    background-color: #F93A3A;
    font-size: 25px;
    color: white;
    padding: 0;
    margin-top: 5px;
    border-radius: 4px;
}
.container #user_right_div2{
    float: left;
    border: 2px solid gainsboro;
    width: 100%;
    height: 280px;
    border-radius: 4px;
}
.container #user_right_div3{
    float: left;
    width: 15%;
    height: 100%;
    text-align: center;
    margin: 10px 5px;
    overflow: hidden;
}
.container #user_right_div4{
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
}
.container #user_right_div4_1{
    margin-top: 10px;
    float: left;
    height: 30px;
    width: 100%;
}
.container #user_right_div5{
    float: left;
    width: 100%;
    background-color:ghostwhite;
    border-radius: 6px;
}
.container #user_right_div5_left{
    float: left;
    width: 50%;
    height: auto;
}
.container #user_right_div5_right{
    float: left;
    width: 50%;
    height: auto;
}
/*账户界面*/
.container #account_1{
    float: left;
    margin: 10px;
    width: 100%;
    height: 30px;
    font-size: 20px;
}
.container #account_2{
    float: left;
    width: 45%;
    margin: 10px;
    height:250px;
    font-size: 20px;
}
.container #account_3{
    float: left;
    width: 45%;
    margin: 10px;
    height: 250px;
    font-size: 20px;
}
.container .account_textfield{
    width: 150px;
    height: 28px;
    font-size: 15px;
    border: solid 1px gray;
}
.container .div_submit{
    height: 30px;
    width: 80px;
    background-color: #F93A3A;
    font-size: 15px;
    border: hidden;
}
.container .address_add{
    float: left;
    width: 90%;
    height: 45px;
    margin: 10px 20px;
    border-bottom: solid 1px gray;
}
.container #address_button{
    height: 35px;
    width: 150px;
    float: left;
    font-size: 15px;
    margin: 5px 0;
    border: 1px solid gray;
    border-radius: 4px;
}
.container .add_tip{
    float: left;
    margin: 20px 10px;
    font-size: 10px;
}
.container .address_info {
    width: 90%;
    float: left;
    margin: 10px 20px;
    height: 150px;
    border: solid 1px gray;
    border-radius: 4px;
}
.container .info_div{
    width: 100%;
    float: left;
}
.container .info_head_head{
    float: left;
    text-align: right;
    width: 100px;
    height: 30px;
    height: 25px;
}

.cart-wrapper{
    width:960px;
    margin:0 auto;
    position:relative;
    margin-top:30px;
    padding-top:0;
    padding-bottom:0;
    font-weight:400;
}

.cart-wrapper div{
    display:block;
}

.cart-wrapper .cart-step{
    margin-bottom:20px;
    width:880px;
    padding:0 40px;
}

.cart-wrapper #reverse_breadcrumb{
    font-size:13px;
    margin-bottom:25px;
}

.cart-wrapper .cart-step-active{
    color:#00b285;
    float:left;
}

.cart-wrapper .cart-step-active-text{
    float:left;
}

.cart-wrapper .cart-step-right-arrow{
    opacity:0.4;
    float:left;
    margin-right:10px;
    margin-top:5px;
    margin-left:8px;
    background-position:-168px -14px;
    height:9px;
    width:9px;
    background-image:url("../images/search.png");
    background-repeat:no-repeat;
    display:block;
}

.cart-wrapper .cart-step-inactive{
    float:left;
    color:#999;
}

.cart-wrapper .cart-step-inactive-text{
    float:left;
}

.cart-wrapper .cart-step-clear{
    clear:both;
}

.cart-wrapper .cart-main-layout{

}

.cart-wrapper .cart-main-left{
    min-height:100px;
    width:600px;
    padding-left:20px;
    float:left;
}

.cart-wrapper .cart-left-checkout-title{
    font-size:11px;
    position:relative;
    margin-bottom:3px;
    padding-left:20px;
    color:#999;
    font-weight:700;
}

.cart-wrapper .cart-bordered-box-left{
    border:1px solid #eee;
    border-top:0px;
    padding:19px;
    padding-top:23px;
    position:relative;
}

.cart-wrapper .cart-left-topcap{
    position:absolute;
    height:3px;
    background-color:#ccc;
    width:100%;
    top:0;
    left:0;
}

.cart-wrapper .cart-left-list{
    display:block;
}

.cart-wrapper .cart-left-list-info{
    border-collapse:separate;
    border-spacing:0;
    vertical-align:middle;
}

.cart-wrapper .image-col{
    padding-right:37px;
    padding-bottom:17px;
    position:relative;
    height:80px;
    vertical-align:top;
    float:none!important;
    text-align:left;
    font-weight:normal;
    display:table-cell;
}

.cart-wrapper .clli-image{
    cursor:pointer;
    border:none;
    outline:none;
    color:#00b285;
    font-weight:400;
    text-decoration:none;
    text-align:left;
}

.cart-wrapper .clli-image-portrait{
    width:60px;
    position:relative;
    border:none;
}

.cart-wrapper .details-col{
    padding-right:10px;
    width:327px;
    padding-top:8px;
    vertical-align:top;
    float:none !important;
    text-align:left;
    font-weight:normal;
    display:table-cell;
}

.cart-wrapper .clli-details{
    font-size:13px;
    color:#333;
    cursor:pointer;
    font-weight:600;
    margin-bottom:9px;
    text-decoration:none;
    text-align:left;
}

.cart-wrapper .clli-details span{
    font-weight:400;
}

.cart-wrapper .clli-brand-size{
    color:#999;
    font-size:12px;
    font-weight:400;
    margin-top:8px;
    text-align:left;
}

.cart-wrapper .clli-notes{
    font-size:12px;
    color:#09f;
}

.cart-wrapper .clli-non-returnable{
    color:#999;
    margin-top:8px;
    font-style:italic;
    font-size:11px;
    text-align:left;
}

.cart-wrapper .price-col{
    text-align:right;
    padding-top:8px;
    min-width:80px;
    vertical-align:top;
    color:#333;
    font-size:13px;
    font-weight:700;
    float:none !important;
    display:table-cell;
}

.cart-wrapper .clli-price{
    color:#dd3828;
    text-align:right;
}

.cart-wrapper .remove-col{
    padding-top:8px;
    text-align:right;
    width:57px;
    vertical-align:top;
    float:none !important;
    font-weight:normal;
    display:table-cell;
}

.cart-wrapper .remove-col form{
    display:block;
}

.cart-wrapper input.remove{
    color:#999;
    border:0;
    background-color:#fff;
    font-size:13px;
    font-weight:400;
    width:50px;
    cursor:pointer;
    position:relative;
    top:-3px;
    -webkit-border-radius:2px;
    padding:5px;
    -webkit-appearance:textfield;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    margin:0;
    text-rendering:auto;
    letter-spacing:normal;
    word-spacing:normal;
    text-transform:none;
    text-indent:0;
    text-shadow:none;
    display:inline-block;
    text-align:start;
    -webkit-writing-mode: horizontal-tb;
}

.cart-wrapper .cart-main-right{
    min-height:100px;
    margin-left:40px;
    padding-left:0;
    width:280px;
    float:left;
}

.cart-wrapper .cart-order-summary{
    width:280px;
}

.cart-wrapper .cart-right-checkout-title{
    font-size:11px;
    color:#00b285;
    margin-bottom:3px;
    padding-left:20px;
    font-weight:700;
}

.cart-wrapper .cart-bordered-box-right{
    padding:0;
    border-bottom:0;
    background-color:#f6f6f6;
    border-left:1px solid #eee;
    border-right:1px solid #eee;
    margin-bottom:45px;
    border-top-width:0;
    position:relative;
    color:#333;
}

.cart-wrapper .cbr-inner-box{
    padding:19px;
    border-bottom:1px solid #e7e7e7;
    border-top:1px solid #e7e7e7;
}

.cart-wrapper table.cbr-inner-box{
    width:240px;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    border-collapse:separate;
    border-spacing:0;
    vertical-align:middle;
    display:table;
}

.cart-wrapper tbody{
    display:table-row-group;
    border-collapse:separate;
    border-spacing:0;
    border-color:grey;
}

.cart-wrapper tr{
    display: table-row;
}

.cart-wrapper .cbr-order-summary{
    width:240px;
    margin-bottom:10px;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
}

.cart-wrapper .cbr-order-summary td{
    font-size:13px;
    color:#333;
    padding-bottom:4px;
    text-align:right;
    vertical-align:middle;
}

.cart-wrapper .cbr-order-summary td a{
    color:#00b285;
    font-weight:400;
    text-decoration:none;
    cursor:pointer;
}

.cart-wrapper .cbr-order-summary .cbr-first{
    color:#666;
    width:185px;
    text-align:left;
    font-size:13px;
    padding-bottom:4px;
    float:none!important;
    font-weight:normal;
    vertical-align:middle;
    display:table-cell;
}

.cart-wrapper .cbr-total{
    width:240px;
    margin-bottom:10px;
    border-collapse:separate;
    border-spacing:0;
    vertical-align:middle;
    display:table;
    color:#333;
}

.cart-wrapper .cbr-total-first{
    color:#333;
    width:185px;
    text-align:left;
    font-size:13px;
    padding-bottom:4px;
    font-weight:700;
    vertical-align:middle;
}

.cart-wrapper .cbr-total-amt{
    color:#333;
    width:185px;
    text-align:right;
    font-size:13px;
    padding-bottom:4px;
    font-weight:700;
    vertical-align:middle;
}

.cart-wrapper .cbr-buttonwrapper{
    margin-top:30px;
}

.cart-wrapper .cbr-button{
    width:208px;
    border:1px solid #009e76;
    min-width:130px;
    background-color:#00b285;
    background:-webkit-linear-gradient(top,rgba(0,178,133,0.85),#00b285);
    -webkit-box-shadow:0px 3px 0px rgba(0,0,0,0.2);
    -webkit-border-radius:3px;
    outline:none;
    font-size:12px;
    color:#fff;
    font-weight:600;
    padding-top:9px;
    padding-bottom:9px;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    display:block;
    cursor:pointer;
    text-decoration:none;
}

.cart-wrapper .cbr-savings{
    color:red;
    font-size:14px;
    text-align:center;
    margin-top:10px;
}

.cart-wrapper .cart-keep-shoping{
    z-index:0;
    font-size:11px;
    width:229px;
    margin-left:auto;
    margin-right:auto;
}

.cart-wrapper .cart-keep-shoping a{
    display:block;
    text-align:-webkit-center;
    font-size:13px;
    color:#09f;
    font-weight:400;
    text-decoration:none;
    cursor:pointer;
}