.row .row{
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
}

.row{
    width:100%;
    max-width:1200px;
    min-width:300px;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    margin-left:auto;
    padding-left:10px;
    padding-right:10px;
    position:relative;
    content:"";
    display:table;
    box-sizing:inherit;
}



div {
    display: block;
}

body {
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing:border-box;
}

a,body,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{
    color: #4a4a4a;
}

embed,img,object{
    max-width:100%;
    height:auto;
}

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu{
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    font-family:Microsoft Yahei;
    font-size:100%;
}

h1,h2,h3,h4,h5,h6,li{
    padding-bottom:.364em;
}

.itm-return{
    cursor: pointer;
    display:inline-block;
    font-size:12px;
    color:#9b9b9b;
    text-decoration: underline;
}

.itm-column-left{
    background: #fff;
    position:relative;
    padding:10px 10px 110px 10px;
    -webkit-user-select:none;
    width: 49.56897%;
    margin-left: 0;
    float: left;
    min-height: 1px;
}

.itm-thumbnails{
    width:auto;
    position:absolute;
    float:left;
    left:10px;
    bottom:0;
}

.itm-thumbnail-selected{
    border-top-color:#9b9b9b;
    border-top-style:solid;
    border-top-width:1px;
    border-right-color:#9b9b9b;
    border-right-style:solid;
    border-right-width:1px;
    border-bottom-color:#9b9b9b;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-left-color:#9b9b9b;
    border-left-style:solid;
    border-left-width:1px;
    cursor:pointer;
    margin-right:10px;
    display:inline-block;
}

.itm-thumbnail{
    cursor:pointer;
    border:1px solid #ebebeb;
    margin-right:10px;
    display:inline-block;
}

.itm-displayphoto{
    border:1px solid #f7f7f7;
    position:relative;
}

#shop-product-details.row.itm-column-left.img{
    display:block;
}

.enlargeicon{
    position:absolute;;
    bottom:10px;
    right:10px;
    z-index:1;
    height:24px;
    width:24px;
    background:url(../images/zoom-icon.svg) center no-repeat;
    display:block;
    cursor:pointer;
    text-decoration: none;
    outline:0;
    line-height:inherit;
}

#shop-product-details.row.itm-column-left.itm-zoom{
    cursor:crosshair;
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-repeat:no-repeat;
    opacity: 0;
    transition:opacity .5s ease-in-out;
}

.itm-column-right{
    padding:0 10px 10px;
    width:49.56897%;
    margin-left:.86207%;
    float:left;
    min-height:1px;
    box-sizing:border-box;
}

.itm-primary{
    width:320px;
    padding:10px;
    text-align: center;
    font-size:20px;
    margin:0 auto;
}
.itm-title{
    color: #333;
    font-weight:600;
    font-size:inherit;
    line-height:inherit;
    margin-top:10px;
    padding:0;
}

.itm-price{
    font-weight:700;
    color:#000;
    margin-top:15px;
}

.itm-compare-price{
    font-size:16px;
    color: #9b9b9b;
    padding: 5px 0;
}

.itm-savingper{
    font-size:14px;
    color:#4ae1bb;
}

.itm-divider1{
    width:200px;
    margin:20px auto;
    background-color: #f7f7f7;
    height:5px;
}

a {
    text-decoration: none;
    outline:0;
    line-height:inherit;
}

.itm-brand-name{
    font-size:16px;
    color:#9b9b9b;
    margin-top:15px;
    padding-bottom:5px;
}

.itm-size{
    font-size:16px;
    color:#4a4a4a;
}

.itm-addtocart{
    color:#fff;
    background-color:#4ae1bb;
    border:2px solid #4ae1bb;
    font-weight:700;
    font-size:16px;
    cursor:pointer;
    text-transform: uppercase;
    width:240px;
    padding:10px;
    margin-top:20px;
    margin-bottom:35px;
    display:inline-block;
    height:50px;
    line-height:29px;
}

.itm-divider2{
    margin:8px 0;
    background-color:#f7f7f7;
    height:5px;
}

dl dt,strong{
    font-weight:700;
}

em,small,strong{
    line-height:inherit;
}


.itm-detailtext .itm-return{
    margin-top:15px;
}

.itm-detailtext .itm-delivery{
    margin-top:15px;
}

.itm-detailtext div{
    margin: 8px 0;
    font-size:14px;
}

.itm-divider3{
    height: 5px;
    background-color: #f7f7f7;
}

.itm-detailtext .itm-description{
    margin-top:25px;
}

.itm-detailtext ul{
    list-style:disc;
    margin:5px 0 0 16px;
}

.itm-detailtext ul li{
    line-height:18px;
}

.itm-alternatives{
    color:#58b2fa;
}

.itm-detailtext .itm-sellercloset{
    margin-top:30px;
}



